In [46]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 

import re

In [47]:
train = pd.read_csv("./data/labeledTrainData.tsv", delimiter="\t")
test  = pd.read_csv("./data/testData.tsv", delimiter="\t")
train.head()

       id  sentiment                                             review
0  5814_8          1  With all this stuff going down at the moment w...
1  2381_9          1  \The Classic War of the Worlds\" by Timothy Hi...
2  7759_3          0  The film starts with a manager (Nicholas Bell)...
3  3630_4          0  It must be assumed that those who praised this...
4  9495_8          1  Superbly trashy and wondrously unpretentious 8...

In [48]:
test.head()

         id                                             review
0  12311_10  Naturally in a film who's main themes are of m...
1    8348_2  This movie is a disaster within a disaster fil...
2    5828_4  All in all, this is a movie for kids. We saw i...
3    7186_2  Afraid of the Dark left me with the impression...
4   12128_7  A very accurate depiction of small time mob li...

In [49]:
# data already splitted to two parts
y_train = train["sentiment"]

In [50]:
def review_to_wordlist(review):
    words = re.sub("[^a-zA-Z]", " ", review)
    words = words.lower()
    return words

In [51]:
X_train = []
for i in range(len(train)):
    X_train.append(review_to_wordlist(train["review"][i]))

In [52]:
X_train = np.array(X_train)

In [53]:
len(test)

33153

In [54]:
test["review"][17038]

nan

In [55]:
pd.isnull(test["review"][17038])

True

In [63]:
X_test = []
for i in range(len(test)):
    if pd.isnull(test["review"][i]):
        X_test.append("test")
    else:
        X_test.append(review_to_wordlist(test["review"][i]))

In [64]:
X_test = np.array(X_test)

# start training

In [65]:
from sklearn.feature_extraction.text import CountVectorizer

countVectorizer = CountVectorizer()
X_train_count = countVectorizer.fit_transform(X_train)
X_test_count  = CountVectorizer.transform(X_test)

TypeError: transform() missing 1 required positional argument: 'raw_documents'

In [66]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf_vectorizer = TfidfVectorizer()

X_train_tfidf = tfidf_vectorizer.fit_transform(X_train)
X_test_tfidf  = tfidf_vectorizer.transform(X_test)

In [69]:
from sklearn.naive_bayes import MultinomialNB

model = MultinomialNB()
model.fit(X_train_tfidf, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [70]:
prediction = model.predict(X_test_tfidf)

In [71]:
prediction

array([1, 0, 0, ..., 1, 1, 0])