In [25]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as ply

from sklearn.model_selection import train_test_split, cross_val_score
from sklearn import tree
from sklearn import metrics

In [8]:
data = pd.read_csv("./data/loan_sub.csv", sep = ",")
data.head

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (19,47) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

<bound method NDFrame.head of               id  member_id  loan_amnt  funded_amnt  funded_amnt_inv  \
0        1077501    1296599       5000         5000             4975
1        1077430    1314167       2500         2500             2500
2        1077175    1313524       2400         2400             2400
3        1076863    1277178      10000        10000            10000
4        1075269    1311441       5000         5000             5000
5        1072053    1288686       3000         3000             3000
6        1071795    1306957       5600         5600             5600
7        1071570    1306721       5375         5375             5350
8        1070078    1305201       6500         6500             6500
9        1069908    1305008      12000        12000            12000
10       1064687    1298717       9000         9000             9000
11       1069866    1304956       3000         3000             3000
12       1069057    1303503      10000        10000            10000
13       1069759    1304871       1000         1000             1000
14       1065775    1299699      10000        10000            10000
15       1069971    1304884       3600         3600             3600
16       1062474    1294539       6000         6000             6000
17       1069742    1304855       9200         9200             9200
18       1039153    1269083      21000        21000            21000
19       1069710    1304821      10000        10000            10000
20       1069700    1304810      10000        10000            10000
21       1069559    1304634       6000         6000             6000
22       1069697    1273773      15000        15000            15000
23       1069800    1304679      15000        15000             8725
24       1069657    1304764       5000         5000             5000
25       1069799    1304678       4000         4000             4000
26       1047704    1278806       8500         8500             8500
27       1032111    1261745       4375         4375             4375
28       1069539    1304608      31825        31825            31825
29       1069591    1304289       5000         5000             5000
...          ...        ...        ...          ...              ...
122577  10086164   11938206       9000         9000             9000
122578  10166062   12018153      15000        15000            15000
122579  10106041   11958114      21000        21000            20800
122580  10086141    1886905       7000         7000             6900
122581  10115896   11967980       8250         8250             8250
122582  10075730   11927830      10000        10000            10000
122583  10075541   11927650       9450         9450             9450
122584  10214568   12066719      12375        12375            12375
122585   8944858   10736981      27575        27575            27575
122586  10175470   12027558      18000        18000            18000
122587   9654640   11506781      28000        28000            28000
122588  10075202   11927320      14000        14000            14000
122589  10105178   11957289      24000        24000            23800
122590  10105115    9348848      10000        10000            10000
122591   9924735   11776875      28000        28000            28000
122592  10104967   11957097      10000        10000             9925
122593  10064734   11916874      17000        17000            17000
122594   9808485   11660306       8000         8000             8000
122595   9001565   10792984      24000        24000            24000
122596   9934676   11786815      35000        35000            35000
122597   9828271   11680132      35000        35000            35000
122598   9858164   11710004       5000         5000             5000
122599   9767996   11619870      24000        24000            23925
122600   7450630    1552101       6000         6000             6000
122601   9825536   11677574       6000         6000             6000
122602   9856168   11708132       6000         6000             6000
122603   9795013   11647121      15250        15250            15250
122604   9695736   11547808       8525         8525             8525
122605   9684700   11536848      22000        22000            22000
122606   9604874   11457002       2000         2000             2000

              term  int_rate  installment grade sub_grade  \
0        36 months     10.65       162.87     B        B2
1        60 months     15.27        59.83     C        C4
2        36 months     15.96        84.33     C        C5
3        36 months     13.49       339.31     C        C1
4        36 months      7.90       156.46     A        A4
5        36 months     18.64       109.43     E        E1
6        60 months     21.28       152.39     F        F2
7        60 months     12.69       121.45     B        B5
8        60 months     14.65       153.45     C        C3
9        36 months     12.69       402.54     B        B5
10       36 months     13.49       305.38     C        C1
11       36 months      9.91        96.68     B        B1
12       36 months     10.65       325.74     B        B2
13       36 months     16.29        35.31     D        D1
14       36 months     15.27       347.98     C        C4
15       36 months      6.03       109.57     A        A1
16       36 months     11.71       198.46     B        B3
17       36 months      6.03       280.01     A        A1
18       36 months     12.42       701.73     B        B4
19       36 months     11.71       330.76     B        B3
20       36 months     11.71       330.76     B        B3
21       36 months     11.71       198.46     B        B3
22       36 months      9.91       483.38     B        B1
23       36 months     14.27       514.64     C        C2
24       60 months     16.77       123.65     D        D2
25       36 months     11.71       132.31     B        B3
26       36 months     11.71       281.15     B        B3
27       36 months      7.51       136.11     A        A3
28       36 months      7.90       995.82     A        A4
29       36 months      8.90       158.77     A        A5
...            ...       ...          ...   ...       ...
122577   36 months      7.90       281.62     A        A4
122578   60 months     24.08       432.22     F        F2
122579   36 months     10.99       687.42     B        B2
122580   36 months     13.53       237.65     B        B5
122581   36 months     16.24       291.03     C        C5
122582   60 months     18.25       255.30     D        D3
122583   36 months     15.61       330.42     C        C4
122584   36 months     14.98       428.87     C        C3
122585   60 months     19.97       730.11     D        D5
122586   60 months     21.48       491.84     E        E2
122587   60 months     14.98       665.83     C        C3
122588   36 months      8.90       444.55     A        A5
122589   60 months     13.98       558.19     C        C1
122590   36 months     13.53       339.50     B        B5
122591   60 months     14.98       665.83     C        C3
122592   36 months     11.99       332.10     B        B3
122593   60 months     22.40       473.40     E        E3
122594   36 months     14.98       277.25     C        C3
122595   60 months     14.47       564.31     C        C2
122596   36 months     16.99      1247.68     D        D1
122597   60 months     23.40       994.73     E        E5
122598   36 months      8.90       158.77     A        A5
122599   60 months     25.83       716.16     G        G2
122600   36 months     18.25       217.67     D        D3
122601   36 months     13.53       203.70     B        B5
122602   60 months     23.40       170.53     E        E5
122603   36 months     17.57       548.05     D        D2
122604   60 months     18.25       217.65     D        D3
122605   60 months     19.97       582.50     D        D5
122606   36 months      7.90        62.59     A        A4

                ...          sub_grade_num delinq_2yrs_zero pub_rec_zero  \
0               ...                    0.4              1.0          1.0
1               ...                    0.8              1.0          1.0
2               ...                    1.0              1.0          1.0
3               ...                    0.2              1.0          1.0
4               ...                    0.8              1.0          1.0
5               ...                    0.2              1.0          1.0
6               ...                    0.4              1.0          1.0
7               ...                    1.0              1.0          1.0
8               ...                    0.6              1.0          1.0
9               ...                    1.0              1.0          1.0
10              ...                    0.2              1.0          1.0
11              ...                    0.2              1.0          1.0
12              ...                    0.4              1.0          1.0
13              ...                    0.2              1.0          1.0
14              ...                    0.8              1.0          1.0
15              ...                    0.2              1.0          1.0
16              ...                    0.6              0.0          1.0
17              ...                    0.2              1.0          1.0
18              ...                    0.8              1.0          1.0
19              ...                    0.6              1.0          1.0
20              ...                    0.6              1.0          1.0
21              ...                    0.6              1.0          1.0
22              ...                    0.2              1.0          1.0
23              ...                    0.4              1.0          1.0
24              ...                    0.4              0.0          1.0
25              ...                    0.6              0.0          1.0
26              ...                    0.6              1.0          1.0
27              ...                    0.6              1.0          1.0
28              ...                    0.8              1.0          1.0
29              ...                    1.0              1.0          1.0
...             ...                    ...              ...          ...
122577          ...                    0.8              1.0          1.0
122578          ...                    0.4              1.0          1.0
122579          ...                    0.4              0.0          1.0
122580          ...                    1.0              1.0          1.0
122581          ...                    1.0              1.0          1.0
122582          ...                    0.6              1.0          1.0
122583          ...                    0.8              1.0          1.0
122584          ...                    0.6              0.0          1.0
122585          ...                    1.0              1.0          1.0
122586          ...                    0.4              0.0          1.0
122587          ...                    0.6              1.0          1.0
122588          ...                    1.0              1.0          1.0
122589          ...                    0.2              1.0          1.0
122590          ...                    1.0              1.0          1.0
122591          ...                    0.6              1.0          1.0
122592          ...                    0.6              0.0          0.0
122593          ...                    0.6              1.0          1.0
122594          ...                    0.6              1.0          0.0
122595          ...                    0.4              1.0          1.0
122596          ...                    0.2              0.0          0.0
122597          ...                    1.0              0.0          1.0
122598          ...                    1.0              1.0          1.0
122599          ...                    0.4              0.0          1.0
122600          ...                    0.6              1.0          1.0
122601          ...                    1.0              0.0          1.0
122602          ...                    1.0              0.0          1.0
122603          ...                    0.4              0.0          0.0
122604          ...                    0.6              0.0          1.0
122605          ...                    1.0              1.0          0.0
122606          ...                    0.8              0.0          1.0

        collections_12_mths_zero short_emp payment_inc_ratio          final_d  \
0                            1.0         0          8.143500  20141201T000000
1                            1.0         1          2.393200  20161201T000000
2                            1.0         0          8.259550  20141201T000000
3                            1.0         0          8.275850  20141201T000000
4                            1.0         0          5.215330  20141201T000000
5                            1.0         0          2.735750  20141201T000000
6                            1.0         0          4.571700  20161201T000000
7                            1.0         1          9.716000  20161201T000000
8                            1.0         0          2.557500  20161201T000000
9                            1.0         0          6.440640  20141201T000000
10                           1.0         1         12.215200  20141201T000000
11                           1.0         0          7.734400  20141201T000000
12                           1.0         0          3.908880  20141201T000000
13                           1.0         1          1.513290  20141201T000000
14                           1.0         0          9.942290  20141201T000000
15                           1.0         0          1.195310  20141201T000000
16                           1.0         0          2.835140  20141201T000000
17                           1.0         0          4.342080  20141201T000000
18                           1.0         0          8.019770  20141201T000000
19                           1.0         0          7.938240  20141201T000000
20                           1.0         0          7.938240  20141201T000000
21                           1.0         0          3.133580  20141201T000000
22                           1.0         0          6.304960  20141201T000000
23                           1.0         0         10.292800  20141201T000000
24                           1.0         0          2.967360  20161201T000000
25                           1.0         0          1.497850  20141201T000000
26                           1.0         1         13.495200  20141201T000000
27                           1.0         0          9.547110  20141201T000000
28                           1.0         0         15.933100  20141201T000000
29                           1.0         0          7.923970  20141201T000000
...                          ...       ...               ...              ...
122577                       1.0         0          9.133620  20170101T000000
122578                       1.0         0          7.409490  20190101T000000
122579                       1.0         0         13.158000  20170101T000000
122580                       1.0         0          6.632090  20170101T000000
122581                       1.0         1         10.582900  20170101T000000
122582                       1.0         0          8.654240  20190101T000000
122583                       1.0         1         14.685300  20170101T000000
122584                       1.0         0         17.154800  20170101T000000
122585                       1.0         0         11.681800  20190101T000000
122586                       1.0         0         10.692200  20190101T000000
122587                       1.0         0          6.341240  20190101T000000
122588                       1.0         0          3.556400  20170101T000000
122589                       1.0         0          7.442530  20190101T000000
122590                       1.0         1         11.010800  20170101T000000
122591                       1.0         0          6.658300  20190101T000000
122592                       1.0         0          4.981500  20170101T000000
122593                       1.0         0          8.115430  20190101T000000
122594                       1.0         1          8.154410  20170101T000000
122595                       1.0         0          3.385860  20190101T000000
122596                       1.0         0         17.824000  20170101T000000
122597                       1.0         0         11.702700  20190101T000000
122598                       1.0         0          1.465570  20170101T000000
122599                       1.0         0         14.323200  20190101T000000
122600                       1.0         1          2.720870  20170101T000000
122601                       1.0         0          5.432000  20170101T000000
122602                       1.0         1          4.487630  20190101T000000
122603                       1.0         0         10.117800  20170101T000000
122604                       1.0         0          6.958120  20190101T000000
122605                       1.0         0          8.961540  20190101T000000
122606                       1.0         0          0.904916  20170101T000000

       last_delinq_none last_record_none last_major_derog_none
0                     1                1                     1
1                     1                1                     1
2                     1                1                     1
3                     0                1                     1
4                     1                1                     1
5                     1                1                     1
6                     1                1                     1
7                     1                1                     1
8                     1                1                     1
9                     1                1                     1
10                    1                1                     1
11                    1                1                     1
12                    1                1                     1
13                    1                1                     1
14                    0                1                     1
15                    1                1                     1
16                    0                1                     1
17                    1                1                     1
18                    1                1                     1
19                    1                1                     1
20                    1                1                     1
21                    1                1                     1
22                    1                1                     1
23                    1                1                     1
24                    0                1                     1
25                    0                1                     1
26                    1                1                     1
27                    1                1                     1
28                    1                1                     1
29                    0                1                     1
...                 ...              ...                   ...
122577                1                1                     1
122578                1                1                     1
122579                0                1                     1
122580                1                1                     1
122581                1                1                     1
122582                0                1                     1
122583                0                1                     1
122584                0                1                     1
122585                0                1                     1
122586                0                1                     1
122587                1                1                     1

In [6]:
data.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'emp_title',
       'emp_length', 'home_ownership', 'annual_inc', 'is_inc_v', 'issue_d',
       'loan_status', 'pymnt_plan', 'url', 'desc', 'purpose', 'title',
       'zip_code', 'addr_state', 'dti', 'delinq_2yrs', 'earliest_cr_line',
       'inq_last_6mths', 'mths_since_last_delinq', 'mths_since_last_record',
       'open_acc', 'pub_rec', 'revol_bal', 'revol_util', 'total_acc',
       'initial_list_status', 'out_prncp', 'out_prncp_inv', 'total_pymnt',
       'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int',
       'total_rec_late_fee', 'recoveries', 'collection_recovery_fee',
       'last_pymnt_d', 'last_pymnt_amnt', 'next_pymnt_d', 'last_credit_pull_d',
       'collections_12_mths_ex_med', 'mths_since_last_major_derog',
       'policy_code', 'not_compliant', 'status', 'inactive_loans', 'bad_loans',
       'emp_length_num', 'grade_num', 'sub_grade_num', 'delinq_2yrs_zero',
       'pub_rec_zero', 'collections_12_mths_zero', 'short_emp',
       'payment_inc_ratio', 'final_d', 'last_delinq_none', 'last_record_none',
       'last_major_derog_none'],
      dtype='object')

In [10]:
data["safe_loans"] = data["bad_loans"].apply(lambda x : +1 if x == 0 else -1)
data.drop("bad_loans", axis = 1)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,delinq_2yrs_zero,pub_rec_zero,collections_12_mths_zero,short_emp,payment_inc_ratio,final_d,last_delinq_none,last_record_none,last_major_derog_none,safe_loans
0,1077501,1296599,5000,5000,4975,36 months,10.65,162.87,B,B2,...,1.0,1.0,1.0,0,8.143500,20141201T000000,1,1,1,1
1,1077430,1314167,2500,2500,2500,60 months,15.27,59.83,C,C4,...,1.0,1.0,1.0,1,2.393200,20161201T000000,1,1,1,-1
2,1077175,1313524,2400,2400,2400,36 months,15.96,84.33,C,C5,...,1.0,1.0,1.0,0,8.259550,20141201T000000,1,1,1,1
3,1076863,1277178,10000,10000,10000,36 months,13.49,339.31,C,C1,...,1.0,1.0,1.0,0,8.275850,20141201T000000,0,1,1,1
4,1075269,1311441,5000,5000,5000,36 months,7.90,156.46,A,A4,...,1.0,1.0,1.0,0,5.215330,20141201T000000,1,1,1,1
5,1072053,1288686,3000,3000,3000,36 months,18.64,109.43,E,E1,...,1.0,1.0,1.0,0,2.735750,20141201T000000,1,1,1,1
6,1071795,1306957,5600,5600,5600,60 months,21.28,152.39,F,F2,...,1.0,1.0,1.0,0,4.571700,20161201T000000,1,1,1,-1
7,1071570,1306721,5375,5375,5350,60 months,12.69,121.45,B,B5,...,1.0,1.0,1.0,1,9.716000,20161201T000000,1,1,1,-1
8,1070078,1305201,6500,6500,6500,60 months,14.65,153.45,C,C3,...,1.0,1.0,1.0,0,2.557500,20161201T000000,1,1,1,1
9,1069908,1305008,12000,12000,12000,36 months,12.69,402.54,B,B5,...,1.0,1.0,1.0,0,6.440640,20141201T000000,1,1,1,1
10,1064687,1298717,9000,9000,9000,36 months,13.49,305.38,C,C1,...,1.0,1.0,1.0,1,12.215200,20141201T000000,1,1,1,-1
11,1069866,1304956,3000,3000,3000,36 months,9.91,96.68,B,B1,...,1.0,1.0,1.0,0,7.734400,20141201T000000,1,1,1,1
12,1069057,1303503,10000,10000,10000,36 months,10.65,325.74,B,B2,...,1.0,1.0,1.0,0,3.908880,20141201T000000,1,1,1,-1
13,1069759,1304871,1000,1000,1000,36 months,16.29,35.31,D,D1,...,1.0,1.0,1.0,1,1.513290,20141201T000000,1,1,1,1
14,1065775,1299699,10000,10000,10000,36 months,15.27,347.98,C,C4,...,1.0,1.0,1.0,0,9.942290,20141201T000000,0,1,1,1
15,1069971,1304884,3600,3600,3600,36 months,6.03,109.57,A,A1,...,1.0,1.0,1.0,0,1.195310,20141201T000000,1,1,1,1
16,1062474,1294539,6000,6000,6000,36 months,11.71,198.46,B,B3,...,0.0,1.0,1.0,0,2.835140,20141201T000000,0,1,1,1
17,1069742,1304855,9200,9200,9200,36 months,6.03,280.01,A,A1,...,1.0,1.0,1.0,0,4.342080,20141201T000000,1,1,1,1
18,1039153,1269083,21000,21000,21000,36 months,12.42,701.73,B,B4,...,1.0,1.0,1.0,0,8.019770,20141201T000000,1,1,1,-1
19,1069710,1304821,10000,10000,10000,36 months,11.71,330.76,B,B3,...,1.0,1.0,1.0,0,7.938240,20141201T000000,1,1,1,1
20,1069700,1304810,10000,10000,10000,36 months,11.71,330.76,B,B3,...,1.0,1.0,1.0,0,7.938240,20141201T000000,1,1,1,1
21,1069559,1304634,6000,6000,6000,36 months,11.71,198.46,B,B3,...,1.0,1.0,1.0,0,3.133580,20141201T000000,1,1,1,-1
22,1069697,1273773,15000,15000,15000,36 months,9.91,483.38,B,B1,...,1.0,1.0,1.0,0,6.304960,20141201T000000,1,1,1,1
23,1069800,1304679,15000,15000,8725,36 months,14.27,514.64,C,C2,...,1.0,1.0,1.0,0,10.292800,20141201T000000,1,1,1,-1
24,1069657,1304764,5000,5000,5000,60 months,16.77,123.65,D,D2,...,0.0,1.0,1.0,0,2.967360,20161201T000000,0,1,1,-1
25,1069799,1304678,4000,4000,4000,36 months,11.71,132.31,B,B3,...,0.0,1.0,1.0,0,1.497850,20141201T000000,0,1,1,1
26,1047704,1278806,8500,8500,8500,36 months,11.71,281.15,B,B3,...,1.0,1.0,1.0,1,13.495200,20141201T000000,1,1,1,1
27,1032111,1261745,4375,4375,4375,36 months,7.51,136.11,A,A3,...,1.0,1.0,1.0,0,9.547110,20141201T000000,1,1,1,1
28,1069539,1304608,31825,31825,31825,36 months,7.90,995.82,A,A4,...,1.0,1.0,1.0,0,15.933100,20141201T000000,1,1,1,1
29,1069591,1304289,5000,5000,5000,36 months,8.90,158.77,A,A5,...,1.0,1.0,1.0,0,7.923970,20141201T000000,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122577,10086164,11938206,9000,9000,9000,36 months,7.90,281.62,A,A4,...,1.0,1.0,1.0,0,9.133620,20170101T000000,1,1,1,1
122578,10166062,12018153,15000,15000,15000,60 months,24.08,432.22,F,F2,...,1.0,1.0,1.0,0,7.409490,20190101T000000,1,1,1,1
122579,10106041,11958114,21000,21000,20800,36 months,10.99,687.42,B,B2,...,0.0,1.0,1.0,0,13.158000,20170101T000000,0,1,1,1
122580,10086141,1886905,7000,7000,6900,36 months,13.53,237.65,B,B5,...,1.0,1.0,1.0,0,6.632090,20170101T000000,1,1,1,-1
122581,10115896,11967980,8250,8250,8250,36 months,16.24,291.03,C,C5,...,1.0,1.0,1.0,1,10.582900,20170101T000000,1,1,1,1
122582,10075730,11927830,10000,10000,10000,60 months,18.25,255.30,D,D3,...,1.0,1.0,1.0,0,8.654240,20190101T000000,0,1,1,1
122583,10075541,11927650,9450,9450,9450,36 months,15.61,330.42,C,C4,...,1.0,1.0,1.0,1,14.685300,20170101T000000,0,1,1,-1
122584,10214568,12066719,12375,12375,12375,36 months,14.98,428.87,C,C3,...,0.0,1.0,1.0,0,17.154800,20170101T000000,0,1,1,1
122585,8944858,10736981,27575,27575,27575,60 months,19.97,730.11,D,D5,...,1.0,1.0,1.0,0,11.681800,20190101T000000,0,1,1,1
122586,10175470,12027558,18000,18000,18000,60 months,21.48,491.84,E,E2,...,0.0,1.0,1.0,0,10.692200,20190101T000000,0,1,1,1
122587,9654640,11506781,28000,28000,28000,60 months,14.98,665.83,C,C3,...,1.0,1.0,1.0,0,6.341240,20190101T000000,1,1,1,-1
122588,10075202,11927320,14000,14000,14000,36 months,8.90,444.55,A,A5,...,1.0,1.0,1.0,0,3.556400,20170101T000000,1,1,1,1
122589,10105178,11957289,24000,24000,23800,60 months,13.98,558.19,C,C1,...,1.0,1.0,1.0,0,7.442530,20190101T000000,0,1,1,1
122590,10105115,9348848,10000,10000,10000,36 months,13.53,339.50,B,B5,...,1.0,1.0,1.0,1,11.010800,20170101T000000,1,1,1,-1
122591,9924735,11776875,28000,28000,28000,60 months,14.98,665.83,C,C3,...,1.0,1.0,1.0,0,6.658300,20190101T000000,1,1,1,1
122592,10104967,11957097,10000,10000,9925,36 months,11.99,332.10,B,B3,...,0.0,0.0,1.0,0,4.981500,20170101T000000,0,0,0,1
122593,10064734,11916874,17000,17000,17000,60 months,22.40,473.40,E,E3,...,1.0,1.0,1.0,0,8.115430,20190101T000000,0,1,0,1
122594,9808485,11660306,8000,8000,8000,36 months,14.98,277.25,C,C3,...,1.0,0.0,1.0,1,8.154410,20170101T000000,1,0,1,-1
122595,9001565,10792984,24000,24000,24000,60 months,14.47,564.31,C,C2,...,1.0,1.0,1.0,0,3.385860,20190101T000000,1,1,1,1
122596,9934676,11786815,35000,35000,35000,36 months,16.99,1247.68,D,D1,...,0.0,0.0,1.0,0,17.824000,20170101T000000,0,0,1,-1
122597,9828271,11680132,35000,35000,35000,60 months,23.40,994.73,E,E5,...,0.0,1.0,1.0,0,11.702700,20190101T000000,0,1,1,1
122598,9858164,11710004,5000,5000,5000,36 months,8.90,158.77,A,A5,...,1.0,1.0,1.0,0,1.465570,20170101T000000,1,1,1,1
122599,9767996,11619870,24000,24000,23925,60 months,25.83,716.16,G,G2,...,0.0,1.0,1.0,0,14.323200,20190101T000000,0,1,0,1
122600,7450630,1552101,6000,6000,6000,36 months,18.25,217.67,D,D3,...,1.0,1.0,1.0,1,2.720870,20170101T000000,0,1,1,1
122601,9825536,11677574,6000,6000,6000,36 months,13.53,203.70,B,B5,...,0.0,1.0,1.0,0,5.432000,20170101T000000,0,1,1,-1
122602,9856168,11708132,6000,6000,6000,60 months,23.40,170.53,E,E5,...,0.0,1.0,1.0,1,4.487630,20190101T000000,0,1,0,-1
122603,9795013,11647121,15250,15250,15250,36 months,17.57,548.05,D,D2,...,0.0,0.0,1.0,0,10.117800,20170101T000000,0,0,0,1
122604,9695736,11547808,8525,8525,8525,60 months,18.25,217.65,D,D3,...,0.0,1.0,1.0,0,6.958120,20190101T000000,0,1,0,-1
122605,9684700,11536848,22000,22000,22000,60 months,19.97,582.50,D,D5,...,1.0,0.0,1.0,0,8.961540,20190101T000000,1,0,1,-1
122606,9604874,11457002,2000,2000,2000,36 months,7.90,62.59,A,A4,...,0.0,1.0,1.0,0,0.904916,20170101T000000,0,1,1,1

In [11]:
data["safe_loans"].value_counts(normalize=True)
# what normalize == true here mean is make the result a percentage instead of a count

 1    0.811185
-1    0.188815
Name: safe_loans, dtype: float64

Extract only a few columns for decision tree constructions

In [14]:
cols = ["grade", "term", "home_ownership", "emp_length"]
target = "safe_loans"
data = data[cols + [target]]
data.head()

  grade        term home_ownership emp_length  safe_loans
0     B   36 months           RENT  10+ years           1
1     C   60 months           RENT   < 1 year          -1
2     C   36 months           RENT  10+ years           1
3     C   36 months           RENT  10+ years           1
4     A   36 months           RENT    3 years           1

Balance the tree data

In [15]:
data["safe_loans"].value_counts()

 1    99457
-1    23150
Name: safe_loans, dtype: int64

In [18]:
bad_ones  = data[data[target] == -1]
safe_ones = data[data[target] ==  1]

percentage = len(bad_ones)/float(len(safe_ones))

risky_loans = bad_ones
safe_loans = safe_ones.sample(frac=percentage, random_state=33)

data_set = pd.concat([risky_loans, safe_loans], axis = 0)

In [20]:
data_set[target].value_counts(normalize=True)

-1    0.5
 1    0.5
Name: safe_loans, dtype: float64

preprocessing the columns

In [21]:
def dummies(data, columns=['pclass','name_title','embarked', 'sex']):
    for col in columns:
        data[col] = data[col].apply(lambda x: str(x))
        new_cols = [col + '_' + i for i in data[col].unique()]
        data = pd.concat([data, pd.get_dummies(data[col], prefix=col)[new_cols]], axis=1)
        del data[col]
    return data

In [22]:
#grade, home_ownership, target
cols = ['grade', 'term','home_ownership', 'emp_length']
data_set = dummies(data_set, columns=cols)
data_set.head()

,safe_loans,grade_C,grade_F,grade_B,grade_D,grade_A,grade_E,grade_G,term_ 60 months,term_ 36 months,...,emp_length_3 years,emp_length_10+ years,emp_length_1 year,emp_length_9 years,emp_length_2 years,emp_length_8 years,emp_length_7 years,emp_length_5 years,emp_length_nan,emp_length_6 years
1,-1,1,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
6,-1,0,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
7,-1,0,0,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
10,-1,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
12,-1,0,0,1,0,0,0,0,0,1,...,1,0,0,0,0,0,0,0,0,0

seperate the data into train and testing

In [26]:
train_data, test_data = train_test_split(data_set, test_size=0.2, random_state=33)
trainX, trainY = train_data[train_data.columns[1:]], pd.DataFrame(train_data[target])
testX, testY = test_data[test_data.columns[1:]], pd.DataFrame(test_data[target])