In [67]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.linear_model import LogisticRegression
from sklearn import metrics

from patsy import dmatrices   #used to create dummyvariables

In [68]:
data = pd.read_csv("./data/HR_comma_sep.csv")

In [69]:
data.left.head()

0    1
1    1
2    1
3    1
4    1
Name: left, dtype: int64

In [70]:
data.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [71]:
type(data.left[0])

numpy.int64

In [72]:
data.left = data.left.astype(int) #why already int

In [73]:
data.rename(columns={"average_montly_hours":"average_monthly_hours"}, inplace=True)
data.head()

,satisfaction_level,last_evaluation,number_project,average_monthly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

# extract columns and use pasty.dmatrices to create dummy variables

In [74]:
y, X = dmatrices("left~satisfaction_level+last_evaluation+number_project+average_monthly_hours+time_spend_company+Work_accident+promotion_last_5years+C(sales)+C(salary)", data, return_type="dataframe")

In [75]:
type(X)

pandas.core.frame.DataFrame

In [76]:
type(y)

pandas.core.frame.DataFrame

In [77]:
X = np.asmatrix(X) # why doing this
y = np.ravel(y)

# make all columns of X range from 0 to 1

In [78]:
for i in range(1, X.shape[1]): # traverse over columns from column 1 to the end
    xmin = X[:,i].min()
    xmax = X[:,i].max()
    X[:,i] = (X[:,i] - xmin)/(xmax-xmin)

In [79]:
X

matrix([[1.   , 0.   , 0.   , ..., 0.125, 0.   , 0.   ],
        [1.   , 0.   , 0.   , ..., 0.5  , 0.   , 0.   ],
        [1.   , 0.   , 0.   , ..., 0.25 , 0.   , 0.   ],
        ...,
        [1.   , 0.   , 0.   , ..., 0.125, 0.   , 0.   ],
        [1.   , 0.   , 0.   , ..., 0.25 , 0.   , 0.   ],
        [1.   , 0.   , 0.   , ..., 0.125, 0.   , 0.   ]])

# start the core of the algorithm

In [80]:
np.random.seed(1)
alpha = 1
beta = np.random.randn(X.shape[1]) # create a rand one d array with # of items same as the number of columns of X
print("beta is " + str(beta))

beta is [ 1.62434536 -0.61175641 -0.52817175 -1.07296862  0.86540763 -2.3015387
  1.74481176 -0.7612069   0.3190391  -0.24937038  1.46210794 -2.06014071
 -0.3224172  -0.38405435  1.13376944 -1.09989127 -0.17242821 -0.87785842
  0.04221375]

In [81]:
for T in range(500):
    prob = np.array(1./(1+np.exp(-np.matmul(X, beta)))).ravel()   # calculate the probability of left with random beta
    
    prob_y = list(zip(prob, y)) # match the beta probabilty with labels
    
    loss = -sum([np.log(p) if y == 1 else np.log(1-p) for p, y in prob_y]) / len(y)
    error_rate = 0
    
    # calculate error rate
    for i in range(len(y)):
        if(( prob[i] > 0.5  and y[i] == 0) or (prob[i] <= 0.5 and y[i] == 1 ) ):
            error_rate += 1
    error_rate /= len(y)
    
    if T % 5 == 0:
        print( "T = " + str(T) + " loss = " + str(loss) + " error = " + str(error_rate))
    
    deriv = np.zeros(X.shape[1]) # create a one d array with all zeros
    for i in range(len(y)):
        #print(i)
        #print(prob.shape) # only one column
        #print(y.shape)
        deriv += np.asarray(X[i, :]).ravel() * (prob[i] - y[i])
    deriv /= len(y)
    
    beta -= alpha * deriv

T = 0 loss = 1.120382327806672 error = 0.5037002466831122
T = 5 loss = 0.6492666637968594 error = 0.2910194012934196
T = 10 loss = 0.6095807663133693 error = 0.26668444562970867
T = 15 loss = 0.5816449211566241 error = 0.25888392559503964
T = 20 loss = 0.5607552377630786 error = 0.2526835122341489
T = 25 loss = 0.5450244708251246 error = 0.2481498766584439
T = 30 loss = 0.5328795073088821 error = 0.24854990332688845
T = 35 loss = 0.5231836380769039 error = 0.2474164944329622
T = 40 loss = 0.5151826947262421 error = 0.24234948996599773
T = 45 loss = 0.5083944951258156 error = 0.23968264550970064
T = 50 loss = 0.5025111703564583 error = 0.23728248549903327
T = 55 loss = 0.49733135447626586 error = 0.23581572104806986
T = 60 loss = 0.4927180171532152 error = 0.23448229881992133
T = 65 loss = 0.48857356128232937 error = 0.23381558770584707
T = 70 loss = 0.48482536350449806 error = 0.23214880992066136
T = 75 loss = 0.48141731701862545 error = 0.22934862324154945
T = 80 loss = 0.478304757976905 error = 0.22668177878525236
T = 85 loss = 0.4754513034939728 error = 0.22428161877458497
T = 90 loss = 0.4728267902672707 error = 0.2231482098806587
T = 95 loss = 0.47040586746002977 error = 0.22074804986999133
T = 100 loss = 0.46816699480428586 error = 0.22094806320421362
T = 105 loss = 0.46609170331060074 error = 0.22134808987265817
T = 110 loss = 0.46416403394312195 error = 0.22154810320688045
T = 115 loss = 0.4623701018588734 error = 0.2211480765384359
T = 120 loss = 0.46069775229203674 error = 0.2206813787585839
T = 125 loss = 0.45913628516582655 error = 0.22054803653576904
T = 130 loss = 0.4576762323464664 error = 0.22054803653576904
T = 135 loss = 0.456309175882234 error = 0.22021468097873192
T = 140 loss = 0.4550275985604056 error = 0.22101473431562105
T = 145 loss = 0.4538247602068062 error = 0.2211480765384359
T = 150 loss = 0.4526945946606393 error = 0.22074804986999133
T = 155 loss = 0.4516316234713585 error = 0.22021468097873192
T = 160 loss = 0.4506308832028294 error = 0.21974798319887992
T = 165 loss = 0.44968786387121934 error = 0.22001466764450964
T = 170 loss = 0.44879845653900813 error = 0.22061470764717647
T = 175 loss = 0.4479589084750731 error = 0.22048136542436161
T = 180 loss = 0.4471657845958744 error = 0.21988132542169478
T = 185 loss = 0.44641593414467706 error = 0.21928128541902794
T = 190 loss = 0.4457064617585627 error = 0.21954796986465763
T = 195 loss = 0.4450347022275212 error = 0.21981465431028735
T = 200 loss = 0.444398198374091 error = 0.2201480098673245
T = 205 loss = 0.44379468158251134 error = 0.21981465431028735
T = 210 loss = 0.44322205458756947 error = 0.2177478498566571
T = 215 loss = 0.442678376199685 error = 0.21694779651976798
T = 220 loss = 0.44216184769643685 error = 0.216481098739916
T = 225 loss = 0.4416708006550691 error = 0.21621441429428628
T = 230 loss = 0.44120368603666416 error = 0.21621441429428628
T = 235 loss = 0.44075906436224044 error = 0.21621441429428628
T = 240 loss = 0.4403355968458539 error = 0.21561437429161945
T = 245 loss = 0.43993203736979586 error = 0.21494766317754516
T = 250 loss = 0.43954722520399775 error = 0.2142809520634709
T = 255 loss = 0.4391800783855861 error = 0.21388092539502634
T = 260 loss = 0.4388295876863491 error = 0.21308087205813722
T = 265 loss = 0.43849481110556227 error = 0.21274751650110008
T = 270 loss = 0.43817486883384554 error = 0.21268084538969265
T = 275 loss = 0.43786893864062043 error = 0.21201413427561838
T = 280 loss = 0.43757625164374897 error = 0.21174744982998867
T = 285 loss = 0.4372960884246278 error = 0.21168077871858124
T = 290 loss = 0.4370277754566002 error = 0.21154743649576638
T = 295 loss = 0.4367706818178767 error = 0.21148076538435895
T = 300 loss = 0.4365242161635873 error = 0.21154743649576638
T = 305 loss = 0.4362878239340314 error = 0.21094739649309954
T = 310 loss = 0.43606098477877575 error = 0.2104140276018401
T = 315 loss = 0.43584321017814276 error = 0.21028068537902528
T = 320 loss = 0.4356340412455386 error = 0.20968064537635842
T = 325 loss = 0.4354330466956199 error = 0.20954730315354356
T = 330 loss = 0.43523982096472097 error = 0.20954730315354356
T = 335 loss = 0.4350539824711322 error = 0.20908060537369158
T = 340 loss = 0.43487517200410236 error = 0.20908060537369158
T = 345 loss = 0.4347030512312469 error = 0.20881392092806186
T = 350 loss = 0.43453730131500257 error = 0.20874724981665443
T = 355 loss = 0.4343776216296516 error = 0.20861390759383958
T = 360 loss = 0.43422372857102726 error = 0.20854723648243217
T = 365 loss = 0.43407535445173173 error = 0.20881392092806186
T = 370 loss = 0.4339322464753621 error = 0.20874724981665443
T = 375 loss = 0.4337941657835864 error = 0.209147276485099
T = 380 loss = 0.43366088657063606 error = 0.209147276485099
T = 385 loss = 0.43353219526002373 error = 0.20881392092806186
T = 390 loss = 0.4334078897388679 error = 0.209613974264951
T = 395 loss = 0.4332877786454411 error = 0.20968064537635842
T = 400 loss = 0.4331716807060206 error = 0.20954730315354356
T = 405 loss = 0.43305942411730436 error = 0.209147276485099
T = 410 loss = 0.4329508459711238 error = 0.2088805920394693
T = 415 loss = 0.4328457917181876 error = 0.208680578705247
T = 420 loss = 0.4327441146681553 error = 0.20788052536835788
T = 425 loss = 0.4326456755232327 error = 0.2076138409227282
T = 430 loss = 0.43255034194299175 error = 0.20768051203413562
T = 435 loss = 0.4324579881379522 error = 0.20721381425428362
T = 440 loss = 0.4323684944901125 error = 0.20701380092006133
T = 445 loss = 0.43228174719826234 error = 0.20728048536569105
T = 450 loss = 0.4321976379464111 error = 0.20708047203146876
T = 455 loss = 0.4321160635936715 error = 0.20708047203146876
T = 460 loss = 0.43203692588408354 error = 0.20721381425428362
T = 465 loss = 0.43196013117494025 error = 0.20721381425428362
T = 470 loss = 0.4318855901823608 error = 0.2071471431428762
T = 475 loss = 0.4318132177428434 error = 0.2069471298086539
T = 480 loss = 0.43174293258978325 error = 0.20674711647443164
T = 485 loss = 0.4316746571438186 error = 0.20661377425161678
T = 490 loss = 0.43160831731610566 error = 0.20634708980598707
T = 495 loss = 0.4315438423236524 error = 0.2058803920261351

T = 135 loss = 0.456309175882234 error = 0.22021468097873192
T = 140 loss = 0.4550275985604056 error = 0.22101473431562105
loss down, error up
why